@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Platypi';
    src: url('../fonts/Platypi-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}
@font-face {
    font-family: 'Sofia Sans';
    src: url('../fonts/SofiaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

:root {
    /* Colors as provided from FIMA */
    --color-white: #FBF9F5;
    --color-blue: #18407E;
    --color-blue-light: #9095BE;
    --color-yellow: #FBBB21;
    --color-red: #D62725;

    --color-selected: #F3F5F9;
    --color-hover: #F9FAFC;


    --border-radius-main: 7px;

    --font-bold-weight-serif: 600;
    --font-bold-weight-sans-serif: 800;

    --padding-box: 30px;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    color: #333;
    background-color: var(--color-selected);
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    border-top: solid 2px #EBEBEB;
}

.gg-main-column-left {
    width: 300px;
    min-width: 300px;
    height: calc(100vh - 2px);
    background-color: white;
    border-right: solid 2px #EBEBEB;
    padding: 30px;
    box-sizing: border-box;
}

.gg-main-column-right {
    width: 100%;
    height: calc(100vh - 2px);
    overflow-y: scroll;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.gg-main-logo {
    margin: auto;
    margin-top: 20px;
    display: block;
    max-height: 100px;
    max-width: 200px;
}

.gg-navbar-divider {
    margin-top: 50px;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    opacity: 0.3;
    letter-spacing: 3px;
    color: var(--color-blue);
}

.gg-navbar-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
}
.gg-navbar-link.selected {
    background-color: var(--color-selected);
}
.gg-navbar-link:not(.selected):hover {
    background-color: var(--color-hover);
}

.gg-h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.gg-h1--smaller {
    font-size: 1.8rem;
}

.nascondi {
    display: none;
}

.hoverizzato {
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}
.hoverizzato:hover {
    opacity: 0.6;
}

.gg-table-btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #333;
    border-radius: 4px;
}

.gg-table-link {
    text-decoration: underline;
}

.dataTables_wrapper, .dt-container {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    border: solid 2px #EBEBEB;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 10px;
}

.gg-multilang-form {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    gap: 40px;
}
.gg-multilang-form > div {
    flex: 1;
}

.gg-form label {
    display: block;
    margin-top: 30px;
    margin-bottom: 4px;
    font-size: 0.9rem;
}

.gg-form .dataTables_wrapper label {
    margin-top: 0 !important;
}

.gg-form input[type="text"], .gg-form input[type="email"], .gg-form input[type="password"], .gg-form textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background-color: var(--color-selected);
    font-size: inherit;
    outline: none;
}

.gg-form input::placeholder {
    font-size: .9rem;
}

.gg-form textarea {
    min-height: 300px;
}

.gg-submit-btn {
    font-weight: bold;
    background: var(--color-blue);
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    margin-top: 30px;
    text-decoration: none;
}

.gg-admin-copertina {
    max-height: 300px;
    max-width: 300px;
    margin-top: 20px;
}

.gg-flat-btn {
    font-weight: bold;
    border: none;
    background-color: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.color-red {
    color: #cb2d28;
}

.gg-btn {
    font-weight: bold;
    width: fit-content;
    border: none;
    background-color: var(--color-blue);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.gg-btn--plus {
    padding-right: 24px;
}

.gg-h1-btn {
    float: right;
    margin-top: -70px;
}

.gg-login-box {
    width: 90%;
    max-width: 500px;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
    padding: 50px 60px;
    border-radius: 20px;
}

.gg-login-box h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.gg-login-box input, .gg-login-box button {
    width: 100%;
}

.gg-login-box button {
    margin-top: 40px;
}

.stats-row {
    display: flex;
    gap: 20px;
}

.stats-row__box {
    flex: 1;
    padding: 20px;
}

.box {
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    border: solid 2px #EBEBEB;
}

.stats-row__box__number {
    font-size: 2.1rem;
}

.columns {
    display: flex;
    gap: 20px;
}

.columns > * {
    flex: 1;
}

.multi-detail-box {
    padding: 30px;
    margin-bottom: 30px;
}

a {
    color: inherit;
}

.home-chart {
    padding: 30px;
    margin-top: 30px;
}

#users-chart-ctx1, #reels-chart-ctx2 {
    margin: 40px;
    max-height: 300px;
}

.login-logo {
    height: 80px;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.home-hart__title {
    font-size: 1.2rem;
    font-weight: bold;
}

.chip {
    font-size: 0.9rem;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    font-weight: normal;
    display: inline-block;
}

table .chip {
    font-size: 0.7rem;
    padding: 3px 8px 3px 8px;
    margin-left: 10px;
}

.chip--deleted {
    background-color: #e9e9e9;
    color: #888;
}

.chip--visible {
    background-color: #d3e8d2;
    color: #368336;
}

h3 {
    font-size: 1.6rem;
    padding-bottom: 5px;
    padding-top: 10px;
}

.multi-detail-box h3 {
    padding-top: 0;
}

.secundary {
    opacity: 0.6;
    font-size: 0.9rem;
}

.gg-submit-btn.float-right-along-title {
    float: right;
    margin-top: -40px;
}

.gg-page-loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gg-page-loading__spinner-box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.gg-page-loading__spinner {
    height: 40px;
}












@media all and (max-width: 1500px) {

    .gg-main-column-right {
        overflow-y: scroll;
        overflow-x: scroll;
        padding: 30px 10px;
        box-sizing: border-box;
    }

    .dt-layout-table {
        overflow-x: scroll;
    }

}










@media all and (max-width: 900px) {

    .login-logo {
        height: 70px;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .gg-login-box {
        padding: 30px;
    }

    .gg-login-box h1 {
        font-size: 1.8rem;
    }

    .columns.flex-wrap {
        gap: 20px;
    }

    .title {
        margin-bottom: 15px;
    }

    .title--lg {
        font-size: 2.2rem;
    }

    .title--m {
        font-size: 1.6rem;
    }

    .title--s {
        font-size: 1.2rem;
    }

    .title--xs {
        font-size: 1.1rem;
    }

    .title--xxs {
        font-size: 1.0rem;
    }

    .gg-main-column-left__burger {
        display: block;
    }

    .gg-main-logo {
        display: none;
    }

    .gg-main-column-left {
        min-width: unset;
        padding: 30px 15px;
    }

    .gg-main-column-left__list {
        display: none;
    }

    .multi-detail-box {
        padding: 20px 10px;
    }

    .gg-navbar-link {
        padding: 10px 0 10px 5px;
    }

    .gg-navbar-divider {
        padding-left: 5px;
    }

    .gg-btn {
        font-size: 0.9rem;
    }

    .stats-row__box {
        padding: 10px;
    }

    .stats-row__box__number {
        font-size: 1.8rem;
    }

    .fc-toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .fc-header-toolbar {
        gap: 10px;
    }

    .fc-toolbar-title {
        font-size: 1.5rem !important;
    }

    .fc .fc-timegrid-slot-label {
        font-size: 0.75rem;
    }

    .fc .fc-timegrid-axis {
        width: 40px !important;
    }

    .fc .fc-col-header-cell {
        font-size: 0.7rem;
    }

    .fc .fc-timegrid-event {
        font-size: 0.75rem;
        padding: 2px;
    }

    .columns {
        column-gap: 30px;
    }

    .dt-layout-row {
        display: flex !important;
        flex-direction: column !important;
    }

    td {
        min-width: 80px;
    }

    .dt-type-date {
        min-width: 120px;
    }

    .reorder {
        min-width: 40px !important;
    }

    .dt-layout-start {
        align-self: flex-start;
        margin-left: 14px;
    }

    .columns--direction {
        flex-direction: column;
    }

    .gg-form textarea {
        min-height: 200px;
    }

    .gg-multilang-form {
        flex-direction: column;
        gap: 20px;
    }

    .checkbox-group {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
