<a href="#" class="news-box">
    <div class="news-box__inner">
        <div class="news-box__date-container">
            <div class="news-box__date-box">
                <div class="news-box__day">00</div>
                <div class="news-box__month">XXX</div>
            </div>
        </div>
        <div class="news-box__content">
            <div class="news-box__title">Titolo articolo</div>
            <div class="news-box__date">Pubblicato il 00/00/0000</div>
        </div>
    </div>
</a>
