<div class="news-box">
    <div class="news-box__inner">
        <div>
            DATA
        </div>
        <div>
            <div class="news-box__title">Titolo articolo</div>
            <div class="news-box__date">Pubblicato il 00/00/0000</div>
        </div>
    </div>
</div>
