{% extends 'public/base.html.twig' %}

{% block title %}Sostienici • {% endblock %}

{% block body %}

    <div class="container">
        <h1>Sostienici</h1>

        <p>
            Dal 2024 è possibile sostenere URBINO MUSICA ANTICA attraverso erogazioni liberali diventando Benefattori della manifestazione.<br>
            La Fondazione Italiana per la Musica Antica, nei suoi cinquantasei anni di attività, ha divulgato la musica antica attraverso centinaia di concerti, conferenze e corsi, che hanno appassionato e continueranno ad appassionare migliaia di musicisti professionisti e dilettanti grazie al sostegno e al lavoro dei migliori musicisti del settore.<br>
            Gli allievi di ieri sono diventati i musicisti di oggi.<br>
            Sostenere questa attività permetterà alla FIMA di continuare nella sua incessante e appassionante azione divulgatrice nell’ambito della musica antica.
        </p>
    </div>

{% endblock %}
