{% extends 'public/base.html.twig' %}

{% block title %}Sostienici • {% endblock %}

{% block body %}

    <div class="container">
        <h1>Sostienici</h1>
        <p>
            Dal 2024 è possibile sostenere URBINO MUSICA ANTICA attraverso erogazioni liberali diventando <b>Benefattori</b> della manifestazione.<p>
        </p>
        <p>
            La Fondazione Italiana per la Musica Antica, nei suoi cinquantasei anni di attività, ha divulgato la musica antica attraverso centinaia di concerti, conferenze e corsi, che hanno appassionato e continueranno ad appassionare migliaia di musicisti professionisti e dilettanti grazie al sostegno e al lavoro dei migliori musicisti del settore.
        </p>
        <p>
            Gli allievi di ieri sono diventati i musicisti di oggi.<br>
            Sostenere questa attività permetterà alla FIMA di continuare nella sua incessante e appassionante azione divulgatrice nell’ambito della musica antica.
        </p>

        <div>
            <div class="box donation-option">
                <div class="donation-option__title">Benefattore BRONZE</div>
                <p>Donazione da € 150 a 1000:</p>
                <ul>
                    <li>Citazione nella lista dei Benefattori</li>
                    <li>Una copia della rivista Recercare in omaggio</li>
                </ul>
            </div>
            <div class="box donation-option">
                <div class="donation-option__title">Benefattore SILVER</div>
                <p>Donazione da € 1000 a 5000:</p>
                <ul>
                    <li>Citazione nella lista dei Benefattori</li>
                    <li>Una copia della rivista Recercare in omaggio</li>
                    <li>Accesso riservato a 2 prove generali dei concerti per 2 persone</li>
                </ul>
            </div>
            <div class="box donation-option">
                <div class="donation-option__title">Benefattore GOLD</div>
                <p>Donazione da € 5000 e oltre:</p>
                <ul>
                    <li>Citazione nella lista dei Benefattori</li>
                    <li>Una copia della rivista Recercare in omaggio</li>
                    <li>Accesso riservato a 2 prove generali dei concerti per 2 persone</li>
                    <li>N. 2 biglietti per assistere agli ultimi due concerti inseriti nel cartellone del Festival Internazionale di Musica Antica con posti riservati</li>
                    <li>Possibilità di partecipare alle attività didattiche dei corsi di alta formazione musicale</li>
                    <li>Visita guidata all'interno del Palazzo Ducale e tour alla scoperta delle maggiori attrazioni di Urbino</li>
                    <li>Evento speciale dedicato</li>
                    <li>Possibilità di partecipare a un'esperienza gastronomica all'insegna dell'italianità, pensata per soddisfare i palati più raffinati grazie alla degustazione di piatti e prodotti tipici del territorio di Urbino</li>
                </ul>
            </div>
        </div>

        <div class="donation-trailing">
            Per maggiori informazioni sulle donazioni invia una mail a <a class="link-bold hover" href="mailto:info@fima-online.org">info@fima-online.org</a>
        </div>

    </div>

{% endblock %}
