{% extends 'public/base.html.twig' %}

{% block title %}FIMA Musica Antica - Home{% endblock %}

{% block body %}
    <h1>Benvenuti a FIMA Musica Antica</h1>
    <p>Scopri il mondo della musica antica con noi!</p>
{% endblock %}
