{% extends 'public/base.html.twig' %}

{% block title %}Home • {% endblock %}

{% block body %}

    <div class="home-hero">
        <div class="container">
            <div class="home-hero__since">Dal 1968</div>
            <h1 class="home-hero__title">Fondazione Italiana per la Musica Antica</h1>
            <img class="home-hero__filigrane" src="{{ asset('images/fima-logo.svg') }}" alt="FIMA Logo">
        </div>
    </div>

    <div class="container box callout-uma">
        <div>
            <img class="callout-uma__logo" src="{{ asset('images/uma-logos/uma-2025-colors.svg') }}" alt="Urbino Musica Antica Logo">
        </div>
        <div>
            <p>
                Urbino Musica Antica è già da molto tempo un riferimento per chi ama la musica antica. Nella magnifica cornice di questa importante città medievale, per nove giorni si canta, si suona e si balla, alternando le lezioni individuali della mattina con le tante attività di gruppo pomeridiane, tra cui l’orchestra, il consort, la musica da camera, la polifonia, il laboratorio sull'oratorio, la danza rinascimentale e barocca.
            </p>
            <br>
            <a class="btn" href="{{ path('urbinoWelcome') }}">Scopri Urbino Musica Antica</a>
        </div>
    </div>

{% endblock %}
