{% extends 'public/base.html.twig' %}

{% block title %}News & Eventi • {% endblock %}

{% block body %}

    <div class="container">
        <h1>News & eventi</h1>

        <div class="news-grid">
            {% for news in newsList %}
                {% include 'public/_news-box.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
