{% extends 'public/base.html.twig' %}

{% block title %}{{ 'transparent_administration.page_title'|trans }} • {% endblock %}

{% block body %}

    <h1>{{ 'transparent_administration.heading'|trans }}</h1>

    <div class="container container--reduced">

        <p>
            Ai sensi dell’articolo 9 della legge 112 del 7 ottobre 2013 vengono di seguito pubblicati i seguenti dat
        </p>

        <h2 class="h2--with-margin-top">Organigramma - Fondazione Italiana per la Musica Antica</h2>

        <p>
            <strong>Alessandro Quarta</strong> (Curriculum)<br>
            <a class="underlined-link" href="mailto:presidente@fima-online.org">presidente@fima-online.org</a><br>
            Presidente • Incarico conferito in data 22 settembre 2022
        </p>

        <p>
            <strong>Paola Filiani</strong><br>
            <a class="underlined-link" href="mailto:vicepresidente@fima-online.org">vicepresidente@fima-online.org</a><br>
            Vicepresidente • Incarico conferito in data 19 ottobre 2022
        </p>

        <p>
            <strong>Alberto Annarilli</strong> (Curriculum)<br>
            <a class="underlined-link" href="mailto:tesoriere@fima-online.org">tesoriere@fima-online.org</a><br>
            Tesoriere • Incarico conferito in data 19 ottobre 2022
        </p>

        <p>
            <strong>Alfredo Bernardini</strong> (Curriculum)<br>
            <a class="underlined-link" href="mailto:direzione.corsi@fima-online.org">direzione.corsi@fima-online.org</a><br>
            Direttore dei corsi • Incarico conferito in data 06 gennaio 2025 con verbale di assemblea del consiglio direttivo<br>
            Compenso: €1.500,00 lordi
        </p>

        <p>
            <strong>Alessandro Quarta</strong><br>
            Direttore del festival • Incarico conferito in data 06 gennaio 2025 con verbale di assemblea del consiglio direttivo<br>
            Compenso: €1.500,00 lordi
        </p>

        <p>
            <strong>Arnaldo Morelli</strong> (Curriculum)<br>
            Direttore della rivista Recercare • Incarico conferito in data 06 gennaio 2025 con verbale di assemblea del consiglio direttivo<br>
            Compenso: €1.000,00 lordi
        </p>

        <p>
            <strong>Lara Amici</strong><br>
            <a class="underlined-link" href="mailto:segreteria@fima-online.org">segreteria@fima-online.org</a>
        </p>

        <h2 class="h2--with-margin-top">
            Struttura Organizzativa – Amministrazione trasparente
        </h2>

        <p>
            La Fondazione Italiana per la Musica Antica è un’associazione culturale senza scopi di lucro.
        </p>

        <p>
            <strong>Soci benemeriti</strong>: Giancarlo Rostirolla (fondatore), Renato Meucci , Andrea Damiani, Gabriele Rossi Rognoni<br>
            <strong>Presidente</strong>: Alessandro Quarta<br>
            <strong>Vicepresidente</strong>: Paola Filiani<br>
            <strong>Consiglio direttivo</strong>: Alberto Annarili, Alfredo Bernardini, Luca Cervoni, Paola Filiani, Chiara Granata , Davide Mingozzi, Massimo Monti, Arnaldo Morelli, Paola Pacetti, Alessandro Quarta, Giovanni Togni.<br>
            <strong>Tesoriere</strong>: Alberto Annarilli<br>
            <strong>Collegio dei Revisori dei conti</strong>: Dott. Maurizio Di Liberi (presidente), Lara Amici<br>
            <br>
            <strong>Organismi di gestione - Per la gestione di ognuna delle attività dell’associazione il Consiglio Direttivo incarica a tempo determinato vari soggetti ritenuti idonei:</strong><br>
            <strong>Direttore dei Corsi</strong>: Alfredo Bernardini<br>
            <strong>Direttore del Festival</strong>: Alessandro Quarta<br>
            <strong>Direttore della rivista Recercare</strong>: Arnaldo Morelli<br>
            <strong>Segreteria ed amministrazione</strong>: Lara Amici<br>
            <strong>Promozione</strong>: Gabriele Pro, Margherita Muzzi<br>
            <strong>Bibioteca</strong>: Lara Amici
        </p>

        <h2 class="h2--with-margin-top">
            Erogazioni Pubbliche anno solare 2024
        </h2>

        <p>
            <strong>Ente erogatore</strong>: FUS - Spettacolo dal vivo - Attività Festival Art. 25 – D.M. 1 luglio 2014<br>
            <strong>Importo</strong>: €66.180,00<br>
            <strong>Progetto</strong>: Festival Internazionale di Musica Antica 2024 56ª edizione
        </p>

        <p>
            <strong>Ente erogatore</strong>: Comune di Urbino<br>
            <strong>Importo</strong>: €20.000,00<br>
            <strong>Progetto</strong>: 56ª edizione di Urbino Musica Antica
        </p>

        <p>
            <strong>Ente erogatore</strong>: Comune di Gradara<br>
            <strong>Importo</strong>: €1.500,00<br>
            <strong>Progetto</strong>: 56ª edizione di Urbino Musica Antica – Concerto del 28 luglio 2024
        </p>

        <p>
            <strong>Ente erogatore</strong>: Ministero della Cultura – Dipartimento per le Attività Culturali Dir. Gen. Biblioteche e Diritto d’Autore – Contributi per il funzionamento di biblioteche non statali aperte al pubblico - Circolare 5/2021 - A.F. 2024<br>
            <strong>Importo</strong>: €2.200,00<br>
            <strong>Progetto</strong>: Biblioteca Sylvestro Ganassi – Catalogazione e recupero bibliografico in SBN
        </p>

        <p>
            <strong>Ente erogatore</strong>: Camera di Commercio – Pesaro - Avviso iniziative di promozione turistica e del marketing territoriale e valorizzazione del patrimonio culturale realizzate e da realizzare nel 2024<br>
            <strong>Importo</strong>: €4.000,00<br>
            <strong>Progetto</strong>: Urbino Musica Antica 56ª edizione, Festival, Corsi e Convegno
        </p>

    </div>

{% endblock %}
