{% extends 'public/base.html.twig' %}

{% block title %}{{ 'transparent_administration.page_title'|trans }} • {% endblock %}

{% block body %}

    <h1>{{ 'transparent_administration.heading'|trans }}</h1>

    <div class="container container--reduced">

        <p>
            Ai sensi dell'articolo 9 della legge 112 del 7 ottobre 2013 vengono di seguito pubblicati i seguenti dati
        </p>

        <h2 class="h2--with-margin-top">Organigramma - Fondazione Italiana per la Musica Antica APS</h2>

        <p>
            <strong>Alessandro Quarta</strong> (<a class="underlined-link" href="https://drive.google.com/file/d/1_F6WzNuJkP5LVq95GQt7rZIf-Mej7-9H/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            <a class="underlined-link" href="mailto:presidente@fima-online.org">presidente@fima-online.org</a><br>
            Presidente • Incarico conferito in data 30 gennaio 2026
        </p>

        <p>
            <strong>Paola Filiani</strong> (<a class="underlined-link" href="https://drive.google.com/file/d/1P8ThRV3byEsOAx-CzzJfTVyee4AmOD_7/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            <a class="underlined-link" href="mailto:vicepresidente@fima-online.org">vicepresidente@fima-online.org</a><br>
            Vicepresidente • Incarico conferito in data 30 gennaio 2026
        </p>

        <p>
            <strong>Alberto Annarilli</strong> (<a class="underlined-link" href="https://drive.google.com/file/d/1-Ad7avoQshUCREcC0bVP9CY4Oojy9Vut/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            <a class="underlined-link" href="mailto:tesoriere@fima-online.org">tesoriere@fima-online.org</a><br>
            Tesoriere • Incarico conferito in data 30 gennaio 2026
        </p>

        <p>
            <strong>Alfredo Bernardini</strong> (<a class="underlined-link" href="https://drive.google.com/file/d/1wTXFyTCUhZNECH8RzVKnylm_rKk7GsZx/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            <a class="underlined-link" href="mailto:direzione.corsi@fima-online.org">direzione.corsi@fima-online.org</a><br>
            Direttore dei corsi • Incarico conferito in data 30 gennaio 2026 con verbale di assemblea del consiglio direttivo<br>
            Compenso: €1.500,00 lordi
        </p>

        <p>
            <strong>Alessandro Quarta</strong> (<a class="underlined-link" href="https://drive.google.com/file/d/1_F6WzNuJkP5LVq95GQt7rZIf-Mej7-9H/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            Direttore del festival • Incarico conferito in data 30 gennaio 2026 con verbale di assemblea del consiglio direttivo<br>
            Compenso: €1.500,00 lordi
        </p>

        <p>
            <strong>Arnaldo Morelli</strong> (<a class="underlined-link" href="https://drive.google.com/file/d/1kRzeW6WeZIlrZzFFaSpR2rsquVB9kXYd/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            Direttore della rivista Recercare • Incarico conferito in data 30 gennaio 2026 con verbale di assemblea del consiglio direttivo<br>
            Compenso: €1.000,00 lordi
        </p>

        <p>
            <strong>Lara Amici</strong><br>
            <a class="underlined-link" href="mailto:segreteria@fima-online.org">segreteria@fima-online.org</a>
        </p>

        <h2 class="h2--with-margin-top">
            Struttura Organizzativa – Amministrazione trasparente
        </h2>

        <p>
            La Fondazione Italiana per la Musica Antica APS è un'associazione culturale senza scopi di lucro.
        </p>

        <p>
            <strong>Soci benemeriti</strong>: Giancarlo Rostirolla (fondatore), Renato Meucci , Andrea Damiani, Gabriele Rossi Rognoni<br>
            <strong>Presidente</strong>: Alessandro Quarta (<a class="underlined-link" href="https://drive.google.com/file/d/1_F6WzNuJkP5LVq95GQt7rZIf-Mej7-9H/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            <strong>Vicepresidente</strong>: Paola Filiani<br>
            <strong>Consiglio direttivo</strong>: Alberto Annarili, Alfredo Bernardini, Paola Filiani, Arnaldo Morelli.<br>
            <strong>Tesoriere</strong>: Alberto Annarilli<br>
            <strong>Collegio dei Revisori dei conti</strong>: Dott. Maurizio Di Liberi (presidente), Lara Amici<br>
            <br>
            <strong>Organismi di gestione - Per la gestione di ognuna delle attività dell'associazione il Consiglio Direttivo incarica a tempo determinato vari soggetti ritenuti idonei:</strong><br>
            <strong>Direttore dei Corsi</strong>: Alfredo Bernardini<br>
            <strong>Direttore del Festival</strong>: Alessandro Quarta (<a class="underlined-link" href="https://drive.google.com/file/d/1_F6WzNuJkP5LVq95GQt7rZIf-Mej7-9H/view?usp=drive_link" target="_blank">Curriculum</a>)<br>
            <strong>Direttore della rivista Recercare</strong>: Arnaldo Morelli<br>
            <strong>Segreteria ed amministrazione</strong>: Lara Amici<br>
            <strong>Promozione</strong>: Margherita Muzzi<br>
            <strong>Biblioteca</strong>: Lara Amici
        </p>

        <h2 class="h2--with-margin-top">
            Erogazioni Pubbliche anno solare 2025
        </h2>

        <p>
            <strong>Ente erogatore</strong>: FUS - Spettacolo dal vivo - D.M. 27 luglio 2017 n. 332-Art. 25- Festival Musica Classica – Saldo contributo anno 2024<br>
            <strong>Importo</strong>: €22.451,96<br>
            <strong>Progetto</strong>: Festival Internazionale di Musica Antica 2024 56ª edizione
        </p>

        <p>
            <strong>Ente erogatore</strong>: FUS - Spettacolo dal vivo - D.M. 27 luglio 2017 n. 332-Art. 25- Festival Musica Classica – Anticipo contributo anno 2025<br>
            <strong>Importo</strong>: €36.383,76<br>
            <strong>Progetto</strong>: Festival Internazionale di Musica Antica 2025 57ª edizione
        </p>

        <p>
            <strong>Ente erogatore</strong>: FUS - Spettacolo dal vivo - D.M. 27 luglio 2017 n. 332-Art. 25- Festival Musica Classica – Anticipo contributo anno 2025<br>
            <strong>Importo</strong>: €3.896,00<br>
            <strong>Progetto</strong>: Festival Internazionale di Musica Antica 2025 57ª edizione
        </p>

        <p>
            <strong>Ente erogatore</strong>: Comune di Urbino<br>
            <strong>Importo</strong>: €15.000,00<br>
            <strong>Progetto</strong>: 57ª edizione di Urbino Musica Antica 2025
        </p>

        <p>
            <strong>Ente erogatore</strong>: Comune di Gradara<br>
            <strong>Importo</strong>: €1.650,00<br>
            <strong>Progetto</strong>: 57ª edizione di Urbino Musica Antica – Concerto del 28 luglio 2025
        </p>

        <p>
            <strong>Ente erogatore</strong>: Ministero della Cultura – Dipartimento per le Attività Culturali Dir. Gen. Biblioteche e Diritto d'Autore – Contributi per il funzionamento di biblioteche non statali aperte al pubblico - Circolare 5/2021 - A.F. 2025<br>
            <strong>Importo</strong>: €2.140,00<br>
            <strong>Progetto</strong>: Biblioteca Sylvestro Ganassi – Catalogazione e recupero bibliografico in SBN
        </p>

        <p>
            <strong>Ente erogatore</strong>: Ministero della Cultura – Dipartimento per le Attività Culturali Dir. Gen. Biblioteche e Diritto d'Autore – Fondo Editoria Libraria - Contributi alle biblioteche per acquisto libri - Decreto ministeriale rep 272 del 05/08/2025 - A.F. 2025<br>
            <strong>Importo</strong>: €12.284,99<br>
            <strong>Progetto</strong>: Biblioteca Sylvestro Ganassi – Acquisto libri per incremento patrimonio bibliografico
        </p>

        <p>
            <strong>Ente erogatore</strong>: Ministero della Cultura – Direzione Gen. Educazione, ricerca e Istituti culturali – Convegni - Circolare n. 72 del 20/12/2024 - A.F. 2025<br>
            <strong>Importo</strong>: €2.445,72<br>
            <strong>Progetto</strong>: La musica a Roma durante il soggiorno della famiglia Stuart – Giornata internazionale di studi del 23/05/2025 in collaborazione con l'Università degli Studi di Tor Vergata - Dipartimento di Storia, Patrimonio Culturale, Formazione e Società
        </p>

        <p>
            <strong>Ente erogatore</strong>: Ministero della Cultura - Direzione Generale Spettacolo - Musica – Azioni Trasversali – Promozione Musica Formazione del Pubblico (D.M. 27 luglio 2017 n. 332 - Art. 41) – Saldo 2024<br>
            <strong>Importo</strong>: €2.130,41
        </p>

        <p>
            <strong>Ente erogatore</strong>: Ministero della Cultura - Direzione Generale Spettacolo - Musica – Azioni Trasversali – Promozione Musica Formazione del Pubblico (D.M. 27 luglio 2017 n. 332 - Art. 41) – Anticipo 2025<br>
            <strong>Importo</strong>: €3.492,56
        </p>

        <p>
            <strong>Ente erogatore</strong>: Camera di Commercio – Pesaro - Avviso iniziative di promozione turistica e del marketing territoriale e valorizzazione del patrimonio culturale realizzate nel 2024<br>
            <strong>Importo</strong>: €4.000,00
        </p>

    </div>

{% endblock %}
