{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • Informazioni • {% endblock %}

{% block body %}

    <div class="container">
        <h1>Informazioni generali</h1>

        <div>
            {{ currentEdition.enrollmentInfoIt|raw }}
        </div>
    </div>

{% endblock %}
