{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • {% endblock %}

{% block body %}

    <div class="uma-hero">
        <video class="uma-hero__video" src="{{ asset('videos/uma-welcome.mp4') }}" muted loop playsinline autoplay></video>
        <img class="uma-hero__logo" src="{{ asset('images/uma-logos/uma-2026-white.svg') }}" alt="Urbino Musica Antica">
    </div>

    <div>
        TODO Box rosso con putti in absolute in basso
    </div>

{% endblock %}
