{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • {% endblock %}

{% block body %}

    <div class="container">
        <h1>Urbino Musica Antica</h1>

        <p>
            Welcome to Urbino Musica Antica, a festival dedicated to the celebration of early music in the historic city of Urbino. Join us for a series of concerts, workshops, and events that bring to life the rich musical heritage of the Renaissance and Baroque periods.
        </p>
    </div>

{% endblock %}
