{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • {% endblock %}

{% block body %}

    <div class="uma-hero">
        <video class="uma-hero__video" src="{{ asset('videos/uma-welcome.mp4') }}" muted loop playsinline autoplay></video>
        <img class="uma-hero__logo" src="{{ asset('images/logos/uma-logos/uma-2026-white.svg') }}" alt="Urbino Musica Antica">
    </div>

    <div class="container box uma-welcome">
        <img class="uma-welcome__angels" src="{{ asset('images/donate-angels.webp') }}" alt="Angeli decorativi">
        <div class="uma-welcome__left">
            <h1 class="uma-welcome__title">Urbino Musica Antica 2026</h1>
            <div class="uma-welcome__date">Dal XX al XX XXXX</div>
        </div>
        <div>
            <p>
                Urbino Musica Antica è già da molto tempo un riferimento per chi ama la musica antica. Nella magnifica cornice di questa importante città medievale, per nove giorni si canta, si suona e si balla, alternando le lezioni individuali della mattina con le tante attività di gruppo pomeridiane, tra cui l’orchestra, il consort, la musica da camera, la polifonia, il laboratorio sull'oratorio, la danza rinascimentale e barocca.
            </p>
        </div>
    </div>

{% endblock %}
