{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • Corsi • {% endblock %}

{% block body %}

    <div class="container">
        <h1>Corsi</h1>

        <p>
            Todo: corsi
        </p>
    </div>

{% endblock %}
