{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • Corsi • {% endblock %}

{% block body %}

    <div class="container">
        <h1>Corsi</h1>

        <div>
            {% for courseInCategory in coursesInCategories %}

                <h2>{{ courseInCategory.category.nameIt }}</h2>
                <div>
                    {% for course in courseInCategory.courses %}
                        <div>{{ course.teacherFullName }}</div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
