{% extends 'public/base.html.twig' %}

{% block title %}{{ 'urbino_conferences.page_title'|trans }} • {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="font-serif">{{ 'urbino_conferences.heading'|trans }}</h1>
    </div>

    <div class="container events-grid">
        {% for event in events %}
            {% include 'public/_uma-event-box.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
