{% extends 'public/base.html.twig' %}

{% block title %}{{ 'urbino_informations.page_title'|trans }} • {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="font-serif">{{ 'urbino_informations.heading'|trans }}</h1>

        <div class="text-from-admin">
            {{ (app.request.locale == 'it' ? currentEdition.enrollmentInfoIt : currentEdition.enrollmentInfoEn)|raw }}
        </div>
    </div>

{% endblock %}
